<div id="canvas">
	<div id="header">
		<div id="sub_header_1">
			{{MENU}}
		</div>
		<div id="sub_header_2">
			<h1>Administration Control Panel</h1>
		</div>
		<div class="clear"></div>
	</div>
	<div id="content">
		<div id="left_content">
            {{LOGIN_INFO}}
            {{LOGOUT_LINK}}
            <br />
            <br />
			{{SIDEBAR}}
		</div>
		<div id="right_content" class="menu">
			{{CURRENT_MENU_CONTENT}}
		</div>
		<div class="clear"></div>
	</div>
	<div id="footer" class="footer_text">
		Website and original content created by Squega &copy; 2005-2009. All rights reserved. This website bears no affiliation with the Sega corporation.
	</div>
</div>