Options +FollowSymlinks
RewriteEngine on

RewriteRule ^assets/((?!/)[a-zA-Z]+)/((?!(index\.php))(.*).(.*))$ assets/$1/index.php/$2 [QSA,L,NC]

RewriteRule ^ajax/((?!(index\.php))(.*).(.*))$ ajax/index.php/$1 [QSA,L,NC]

RewriteRule ^api/((?!(index\.php))(.*).(.*))$ api/index.php/$1 [QSA,L,NC]

RewriteRule !(index\.php) /index.php/$1 [QSA,NC]

RewriteRule ^/index.php/$ /index.php [L]