Options +FollowSymlinks
RewriteEngine on

RewriteRule ^$ - [L]

RewriteRule ^(assets) - [L]

#Root directory page
RewriteRule ^([a-z-]+)$ index.php?page=$1 [QSA,L,NC]

#Add on the home page if no page is present
RewriteRule ^(.*)/$ $1/home [QSA,L,NC]

#One subdirectory deep
RewriteRule ^([^/]+)/([^/]+)$ index.php?d_1=$1&page=$2 [QSA,L,NC]

#Two subdirectories deep
RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ index.php?d_1=$1&d_2=$2&page=$3 [QSA,L,NC]

#Three subdirectories deep
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?d_1=$1&d_2=$2&d_3=$3&page=$4 [QSA,L,NC]

#Four subdirectories deep
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?d_1=$1&d_2=$2&d_3=$3&d_4=$4&page=$5 [QSA,L,NC]

#Five subdirectories deep
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?d_1=$1&d_2=$2&d_3=$3&d_4=$4&d_5=$5&page=$6 [QSA,L,NC]

#Six subdirectories deep
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?d_1=$1&d_2=$2&d_3=$3&d_4=$4&d_5=$5&d_6=$6&page=$7 [QSA,L,NC]