Options +FollowSymlinks
RewriteEngine on

RewriteRule ^$ - [L]

RewriteRule ^(assets) - [L]

#Root directory page
RewriteRule ^([a-z-]+)$ index.php?page=$1 [QSA,L,NC]

#Add on the home page if no page is present
RewriteRule ^(.*)/$ $1/home [QSA,L,NC]

#Separate out the subdirectory path from the page
RewriteRule ^(.*)/(.*)$ index.php?subd=$1&page=$2 [QSA,L,NC]