table {
    border: solid 1px #DADFE0;
    width: 100%;
}

table a, table a:hover, table a:link, table a:active, table a:visited {
    font-size: 12px;
}

table th, table td {
    text-align: left;
    font-size: 12px;
    vertical-align: middle;
    padding: 5px;
}

table th {
    border-style: solid;
    border-width: 1px;
    border-color: #DADFE0 #D1CFCF #DADFE0 #DADFE0;
    color: #2D444F;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#D5D5D5)); 
    background: -webkit-linear-gradient(top, #FBFBFB, #D5D5D5);
    background: -ms-linear-gradient(top, #FBFBFB, #D5D5D5);
    background: -o-linear-gradient(top, #FBFBFB, #D5D5D5); 
    background: -moz-linear-gradient(top, #FBFBFB, #D5D5D5);
    background: linear-gradient(#FBFBFB, #D5D5D5);
    -pie-background: linear-gradient(#FBFBFB, #D5D5D5);
    behavior: url(/assets/htc/modules/admin/pie);
}

table td {
    border: solid 1px #DADFE0;
}